/* Lato fonts starts here */

@font-face {
  font-family: "Lato-Black";
  font-weight: 900;
  src: url("../../../static/fonts/Lato/woff2/Lato-Black.woff2")
  format("woff2");
  
}

@font-face {
  font-family: "Lato-Bold";
  font-weight: 700;
  src: url("../../../static/fonts/Lato/woff2/Lato-Bold.woff2")
  format("woff2");
}


@font-face {
  font-family: "Lato-Light";
  font-weight: 300;
  src: url("../../../static/fonts/Lato/woff2/Lato-Light.woff2")
  format("woff2");
}

@font-face {
  font-family: "Lato-Regular";
  font-weight: 400;
  src: url("../../../static/fonts/Lato/woff2/Lato-Regular.woff2")
  format("woff2");
}

@font-face {
  font-family: "Lato-Thin";
  font-weight: 100;
  src: url("../../../static/fonts/Lato/woff2/Lato-Thin.woff2")
  format("woff2");
}

/* Lato fonts ends here */

/* Roboto Slab fonts starts here */

@font-face {
  font-family: "RobotoSlab-Black";
  font-weight: 900;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-Black.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-Bold";
  font-weight: 700;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-ExtraBold";
  font-weight: 800;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-ExtraBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-ExtraLight";
  font-weight: 200;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-ExtraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-Light";
  font-weight: 300;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-Medium";
  font-weight: 500;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-Regular";
  font-weight: 400;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-SemiBold";
  font-weight: 600;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "RobotoSlab-Thin";
  font-weight: 100;
  src: url("../../../static/fonts/Roboto_Slab/woff2/RobotoSlab-Thin.woff2")
    format("woff2");
}

/* Roboto Slab fonts ends here */
