@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.techPrinciples .titleStyles {
  visibility: visible;
}

.techPrinciples .descStyles {
  margin-top: 2rem;
  visibility: visible;
}

.techPrinciples .subHeadingStyles {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3125rem;
  visibility: visible;
}

.techStack {
  background-color: #f7f7f7;
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}

.techStack .titleStyles {
  visibility: visible;
}

.techStack .gridLayout {
  display: grid;
  gap: 0;
  background-color: var(--white);
  margin-top: 1.875rem;
}

.techStack .logoStyles {
  border: 1px solid var(--plumbago-gray);
  height: 7.5rem;
  visibility: visible;
}

.techStack .logoStyles img {
  max-height: 4.5rem;
  object-fit: contain;
}

.acceleratorsLayout {
  padding: 3.75rem 0;
}

.acceleratorsLayout .titleStyles {
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
  visibility: visible;
}

.acceleratorsLayout .cardStyles {
  padding: 2rem 0 0 0;
  visibility: visible;
}

.contactUsLayout {
  background-color: #f7f7f7;
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}

.contactUsLayout .titleStyles {
  padding-bottom: 2rem;
  visibility: visible;
}

.contactUsLayout .btnStyles {
  padding-top: 2.625rem;
  visibility: visible;
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
  .techStack .gridLayout {
    grid-template-columns: repeat(2, 1fr);
    padding: 3.75rem 1.875rem;
  }
  .techStack .logoStyles {
    padding: 1.563rem 1.25rem;
  }
}

@media only screen and (min-width: 600px) {
  .techStack .gridLayout {
    grid-template-columns: repeat(3, 1fr);
    padding: 3.75rem 1.875rem;
  }
  .techStack .logoStyles {
    padding: 1.563rem;
  }
}

@media only screen and (min-width: 992px) {
  .techStack .gridLayout {
    grid-template-columns: repeat(6, 1fr);
    padding: 3.75rem 2.813rem;
  }
}

/* Media queries ends here */
