@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.designProcess {
  background-color: #f7f7f7;
  padding: 3.75rem 0;
}

.designProcess .titleStyles {
  margin-top: 1.25rem;
  visibility: visible;
}

.designProcess .descStyles {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.125rem;
  visibility: visible;
}

.designProcess .cardStyles {
  visibility: visible;
}
