@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.designProcess {
  background-color: #f7f7f7;
  padding: 3.75rem 0;
}

.designProcess .titleStyles {
  margin-top: 1.25rem;
  /* animation: fadeInUp 1s ease 800ms 1 normal forwards; */
  visibility: visible;
  /* opacity: 0; */
}

.designProcess .descStyles {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.125rem;
  /* animation: fadeInUp 1s ease 800ms 1 normal forwards; */
  visibility: visible;
  /* opacity: 0; */
}

.designProcess .cardStyles {
  /* animation: fadeInUp 1s ease 1s 1 normal forwards; */
  visibility: visible;
  /* opacity: 0; */
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/* Media queries ends here */
