.retailBtn {
    width: 100%;
    margin-top: 30px;
    font-size: 1em;
    max-width: 11em;
    padding: 12px;
    height: 3em;
    background: #fff;
    color: #000;
    border-radius: 0.5em;
}

.cxButton {
    border-radius: 0.5em;
    background-color: #120033;
    width: 11em;
    height: 3em;
    max-width: 11em;
    max-height: 3em;
    margin-left: 5em;
    font-size: 1em;
    padding-top: 0.8em;
}
