@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.featureCard {
  text-align: center;
  font-size: 1.313rem;
  background: #fff;
  padding: 3.125rem;
}

.featureCardImg {
  width: 5rem;
  height: 5rem;
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/* Media queries ends here */
