@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.featureCard {
  text-align: center;
  font-size: 1.313rem;
  background-color: var(--white);
  padding: 3.125rem;
}

.featureCardImg {
  width: 5rem;
  height: 5rem;
}
