@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");
.cxCard {
  height: 10.9375em;
  max-height: 10.9375em;
  background-color: #120033;
  border-radius: 0.375em;
  display: flex;
  align-items: center;
  justify-content: center;
}
