@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.customBorderRadius {
  border-radius: 0.5rem;
}

/* Media queries starts here */

@media only screen and (min-width: 1200px) {
  .customPosLeft {
    position: absolute;
    left: 33%;
    z-index: 2;
    margin-top: 5.75%;
    margin-bottom: 5.75%;
  }

  .customPosRight {
    position: absolute;
    right: 33%;
    z-index: 2;
    margin-top: 5.75%;
    margin-bottom: 5.75%;
  }
}

/* Media queries ends here */
