@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.cardStyles {
  padding: 2.5rem;
  border: 1px solid var(--plumbago-gray);
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.imgStyles {
  width: 4.375rem;
  height: 4.375rem;
}

.cardStyles p {
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 2rem;
}

.iconSize {
  width: 4.375rem;
  height: 4.375rem;
}

/* Media queries starts here */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .cardStyles {
    padding: 2rem;
  }
}

/* Media queries ends here */
