@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.heroImage {
  height: 14.125rem;
}

.heroProgrammerImage {
  height: 18.713rem;
}

.customTag {
  border-radius: 0.875rem;
  min-height: 1.75rem;
  width: fit-content;
  text-transform: uppercase;
}

.ctaIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.truncateDescription {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3.75rem;
}

.customImgSize {
  max-width: 15.625rem;
}
