@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.proCard {
  min-height: 20.3125rem;
  min-width: 23.1875rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 5%;
  position: relative;
}

.proCardSecondary {
  min-height: 13.125rem;
  min-width: 16.375rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 5%;
  position: relative;
}

.titleStyles {
  position: absolute;
  top: 10%;
  left: 10%;
  color: var(--white);
  padding-right: 10%;
}

.logoStyles {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.secondaryFontsize {
  font-size: 1rem;
  line-height: 1.5rem;
}

.customBgStyle {
  background-size: 28.9375rem 21.5rem;
  background-position: left 0rem;
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
  .proCard {
    min-height: 18.3125rem;
    min-width: 18rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 5%;
    position: relative;
  }

  .customBgStyle {
    background-size: 28.9375rem 18.5rem;
    background-position: left 0.15rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .proCard {
    min-height: 15.3125rem;
    min-width: 15rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 5%;
    position: relative;
  }

  .proCardSecondary {
    min-height: 13.125rem;
    min-width: 13.313rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 5%;
    position: relative;
  }

  .customBgStyle {
    background-size: 17.9375rem 15rem;
    background-position: left bottom;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .customBgStyle {
    background-size: 22.9375rem 16rem;
    background-position: left 0rem;
  }
}

@media only screen and (min-width: 2500px) {
  .customBgStyle {
    background-size: 41.9375rem 20.5rem;
    background-position: left bottom;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {
  .customBgStyle {
    background-size: 35.9375rem 22rem;
    background-position: left 0.05rem;
  }
}

/* Media queries ends here */
