@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.showCaseCard {
  min-height: 21.563rem;
}

.showCaseImg {
  /* height: 21.563rem; */
  /* width: 100%; */
  /* object-fit: cover; */
  max-width: 23.875rem;
  height: auto;
}

.imgContainer {
  height: 21.563rem;
}

.ctaIconPos {
  vertical-align: 0.05rem;
}

.truncateDescription {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.75rem;
}
