@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.useCasesSubTitle {
  font-size: 1.125em;
  font-family: "RobotoSlab-Regular", serif;
  font-weight: 400;
  margin-left: 1rem;
}
