@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.forgingInnovation {
  padding-top: 1.875rem;
}

.forgingInnovation .titleStyles {
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  /* animation: fadeInUp 1s ease 0.5s 1 normal forwards; */
  visibility: visible;
  /* opacity: 0; */
}

.forgingInnovation .descStyles {
  padding-top: 2rem;
  padding-bottom: 3rem;
  /* animation: fadeInUp 1s ease 0.5s 1 normal forwards; */
  visibility: visible;
  /* opacity: 0; */
}

.forgingInnovation .imgStyles {
  padding-top: 2rem;
  padding-bottom: 3rem;
  /* animation: fadeInUp 1s ease 0.5s 1 normal forwards; */
  visibility: visible;
  /* opacity: 0; */
}

.forgingInnovation .cardStyles {
  /* animation: fadeInUp 1s ease 0.5s 1 normal forwards; */
  visibility: visible;
  /* opacity: 0; */
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/* Media queries ends here */
