@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.forgingInnovation {
  padding-top: 1.875rem;
}

.forgingInnovation .titleStyles {
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  visibility: visible;
}

.forgingInnovation .descStyles {
  padding-top: 2rem;
  padding-bottom: 3rem;
  visibility: visible;
}

.forgingInnovation .imgStyles {
  padding-top: 2rem;
  padding-bottom: 3rem;
  visibility: visible;
}

.forgingInnovation .cardStyles {
  visibility: visible;
}
