@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.contactUsLayout {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}

.contactUsLayout .titleStyles {
  padding-bottom: 2rem;
  visibility: visible;
}

.contactUsLayout .btnStyles {
  padding-top: 2.625rem;
  visibility: visible;
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/* Media queries ends here */
