@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.contactUsLayout {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}

.contactUsLayout .titleStyles {
  padding-bottom: 2rem;
  visibility: visible;
}

.contactUsLayout .btnStyles {
  padding-top: 2.625rem;
  visibility: visible;
}
