@import url("../global/fonts.css");

.infoSectionH2 {
  font-family: "RobotoSlab-Bold", serif;
  font-size: 2rem;
  font-weight: 400;
}

.infoSectionH3 {
  font-family: "RobotoSlab-Regular", serif;
  font-size: 1.313rem;
  font-weight: 400;
}

.h1One {
  font-family: "RobotoSlab-Bold", serif;
  font-size: 2rem;
  line-height: 1.7;
}

.cardHeader {
  font-family: "RobotoSlab-Regular", serif;
  font-size: 1.3125rem;
  font-weight: 400;
}

.footerHeading {
  font-size: 1rem;
}

.heroTitle {
  font-family: "RobotoSlab-Bold", serif;
  font-size: 3rem;
  line-height: 1.1;
}

.subText1 {
  font-size: 1rem;
  font-family: "RobotoSlab-Regular", serif;
  line-height: 1.5;
}
.caseStudyTitle {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.1;
}
.h4SubTitle {
  font-size: 1.3125em;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-family: "RobotoSlab-Regular", serif;
}
.revolutionHeading {
  font-size: 2.676666693433344em;
  font-family: "RobotoSlab-Regular", serif;
  font-weight: 400;
}
/* Media queries starts here */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 768px) {
  .heroTitle {
    font-family: "RobotoSlab-Bold", serif;
    font-size: 2rem;
    line-height: 1.1;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/* Media queries ends here */
