@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.cxButton {
  border-radius: 0.5rem;
  background-color: var(--urania-blue);
  width: 11rem;
  height: 3rem;
  max-width: 11rem;
  max-height: 3rem;
  border: none;
  outline: none;
  padding-top: 0.75rem;
}

.cxButton:hover {
  background-color: var(--urania-blue);
  opacity: 0.85;
}
