@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.bannerWithTag {
  border-radius: 1.563rem;
  min-height: 24.5rem;
}

.tag {
  border-radius: 1.281rem;
  min-height: 2.563rem;
}

.tagPos {
  bottom: 4rem;
}

.bannerImg {
  max-width: 26.813rem;
  max-height: 19.5rem;
  margin-right: -4rem;
}
