@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.bannerWithTag {
  border-radius: 1.563rem;
  min-height: 24.5rem;
}

.tag {
  border-radius: 1.281rem;
  min-height: 2.563rem;
  width: fit-content;
}

.tagPos {
  bottom: 4rem;
}

.bannerImg {
  max-width: 26.813rem;
  max-height: 21.5rem;
  /* margin-right: -4rem; */
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .tagPos {
    max-width: 20rem;
  }
}

@media only screen and (min-width: 992px) {
  .tagPos {
    max-width: 31rem;
  }
}

@media only screen and (min-width: 1200px) {
}

/* Media queries ends here */
