@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.bannerStyles {
  background: #120033;
  overflow: hidden;
}

.subtextStyles {
  margin-left: 0;
  visibility: visible;
}

.border {
  width: 3.5rem;
  height: 1.125rem;
  border-radius: 1.875rem;
  background: #f96a00;
  display: -webkit-box;
  margin: 1.875rem 0 1.25rem 0;
  visibility: visible;
}

.titleStyles {
  color: #fff;
  line-height: 1.1 !important;
  visibility: visible;
}

.imgStyles {
  visibility: visible;
}

.logoStyles {
  margin-bottom: 1.25rem;
}

.boldSubtext {
  font-size: 1.125rem !important;
  font-weight: 400 !important;
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
  .bannerStyles {
    min-height: 48rem;
    padding: 6.25rem 0;
  }
  .imgStyles {
    max-height: 34.375rem;
    padding: 0;
  }
  .headerInfo {
    padding: 1.25rem;
  }
  .titleStyles {
    font-size: 2rem !important;
  }
}

@media only screen and (min-width: 600px) {
  .bannerStyles {
    min-height: 48rem;
    padding: 6.25rem 0;
  }
  .imgStyles {
    max-height: 34.375rem;
    padding: 0;
  }
  .headerInfo {
    padding: 1.25rem;
  }
  .titleStyles {
    font-size: 2rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .bannerStyles {
    padding: 5rem 0;
  }
  .imgStyles {
    max-height: 34.375rem;
    padding: 0;
  }
  .headerInfo {
    padding: 1.25rem;
  }
  .titleStyles {
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .bannerStyles {
    max-height: 48rem;
    padding: 5rem 0;
  }
  .imgStyles {
    max-height: 34.375rem;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .bannerStyles {
    max-height: 48rem;
    padding: 5rem 0;
  }
  .imgStyles {
    max-height: 34.375rem;
    padding-left: 2rem;
  }
}

/* Media queries ends here */
