@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.heroBannerStyles {
  height: 100vh;
  background-color: var(--black);
  text-align: center;
  position: relative;
}

.logoSection {
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.logoMainStyles :global {
  margin-bottom: 2.5rem;
  animation: fadeInUp 1s ease 800ms 1 normal forwards;
  visibility: visible;
  opacity: 0;
}

.logoHeadStyles :global {
  min-height: 0.813rem;
  animation: fadeInUp 1s ease 0.5s 1 normal forwards;
  visibility: visible;
  opacity: 0;
}

/* Media queries starts here */

@media only screen and (max-width: 600px) {
  .logoSection {
    min-width: 18rem;
  }
}

/* Media queries ends here */
