@import url("../../styles/global/colors.css");
@import url("../../styles/global/global.css");

.bannerStyles {
  background-color: #120033;
  padding: 5.625rem 0;
  overflow: hidden;
}

.whiteBox {
  background-color: #ffffff;
  visibility: visible;
}

.whiteBox p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.whiteBox p strong {
  font-size: 1.313rem;
  font-weight: 400;
  line-height: 2rem;
}

.subFont {
  font-size: 1.313rem;
  margin-bottom: 1rem;
}

.customH3 {
  font-family: "Lato-Regular";
  font-size: 1.688rem;
  font-weight: 500;
}

.titleStyles {
  margin-top: 2rem;
  margin-bottom: 2rem;
  visibility: visible;
}

.subTitleStyles {
  color: var(--white);
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

.imgStyles {
  margin-bottom: 2rem;
  visibility: visible;
}

.buttonStyles {
  padding: 2rem 2rem 0 2rem;
}

/* Media queries starts here */

@media only screen and (min-width: 992px) {
  .techSolution {
    max-width: 28.625rem;
  }
  .innovationStory {
    max-width: 34.688rem;
  }
}

/* Media queries ends here */
